body{
  background-color: black;
  margin: 0;
}

.header{
  color: white;
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 85%, 
      rgba(0,0,0,0) 100%
  );
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title{
  text-align: center;
  font-size: 42px;
}